<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>App</title>
  <link href="/build/main.css" rel="stylesheet">
</head>
<body>
  <main class="font-sans">
    {{> @partial-block }}
  </main>
</body>
</html>
