{{#> base}}
  <h1>Todo app</h1>

  <h2>Add todo</h2>
  <form action="/todo/create" method="post" class="flex gap-2">
    <div>
      <label class="flex items-start">
        To do:
        <input type="text" name="title">
      </label>
    </div>
    <div>
      <label class="flex items-start">
        Description:
        <textarea name="description"></textarea>
      </label>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>

  <h2>Todos</h2>
  <ol>
    {{#each todos }}
      <li>
        <div class="flex">
          <strong>
            {{# if done}}
              ✅
            {{/if}}
            {{title}}
          </strong>
          {{#unless done}}
            <form action="/todo/done" method="post">
              <input type="hidden" name="id" value="{{id}}">
              <button type="submit">Done</button>
            </form>
          {{/unless}}
        </div>
        {{# if description}}
          <div>{{description}}</div>
        {{/if}}
      </li>
    {{/each}}
  </ol>
{{/base}}
