{{#> base}}
  <h1>Todo app</h1>

  <h2>Add todo</h2>
  <form action="/todo/create" method="post">
    <div>
      <label>
        To do:
        <input type="text" name="title">
      </label>
    </div>
    <div>
      <label>
        Description:
        <textarea name="description"></textarea>
      </label>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>

  <h2>Todos</h2>
  <ol>
    {{#each todos }}
      <li>
        <div>
          <strong>
            {{# if done}}
              ✅
            {{/if}}
            {{title}}
          </strong>
          <form action="/todo/done" method="post">
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit">Done</button>
          </form>
        </div>
        {{# if description}}
          <div>{{description}}</div>
        {{/if}}
      </li>
    {{/each}}
  </ol>
{{/base}}
